<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lzh.eurekaClientA.persistence.TAudioRecommendInfoMapper">
  <resultMap id="BaseResultMap" type="TAudioRecommendInfo">
    <id column="uuid" jdbcType="BIGINT" property="uuid" />
    <result column="recommend_name" jdbcType="VARCHAR" property="recommendName" />
    <result column="recommend_code" jdbcType="VARCHAR" property="recommendCode" />
    <result column="recommend_no" jdbcType="INTEGER" property="recommendNo" />
    <result column="recommend_level" jdbcType="INTEGER" property="recommendLevel" />
  </resultMap>
  <sql id="Base_Column_List">
    uuid, recommend_name, recommend_code, recommend_no, recommend_level
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_audio_recommend_info
    where uuid = #{uuid,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from t_audio_recommend_info
    where uuid = #{uuid,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="TAudioRecommendInfo">
    <selectKey keyProperty="uuid" order="BEFORE" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into t_audio_recommend_info (uuid, recommend_name, recommend_code, 
      recommend_no, recommend_level)
    values (#{uuid,jdbcType=BIGINT}, #{recommendName,jdbcType=VARCHAR}, #{recommendCode,jdbcType=VARCHAR}, 
      #{recommendNo,jdbcType=INTEGER}, #{recommendLevel,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="TAudioRecommendInfo">
    <selectKey keyProperty="uuid" order="BEFORE" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into t_audio_recommend_info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      uuid,
      <if test="recommendName != null">
        recommend_name,
      </if>
      <if test="recommendCode != null">
        recommend_code,
      </if>
      <if test="recommendNo != null">
        recommend_no,
      </if>
      <if test="recommendLevel != null">
        recommend_level,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      #{uuid,jdbcType=BIGINT},
      <if test="recommendName != null">
        #{recommendName,jdbcType=VARCHAR},
      </if>
      <if test="recommendCode != null">
        #{recommendCode,jdbcType=VARCHAR},
      </if>
      <if test="recommendNo != null">
        #{recommendNo,jdbcType=INTEGER},
      </if>
      <if test="recommendLevel != null">
        #{recommendLevel,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="TAudioRecommendInfo">
    update t_audio_recommend_info
    <set>
      <if test="recommendName != null">
        recommend_name = #{recommendName,jdbcType=VARCHAR},
      </if>
      <if test="recommendCode != null">
        recommend_code = #{recommendCode,jdbcType=VARCHAR},
      </if>
      <if test="recommendNo != null">
        recommend_no = #{recommendNo,jdbcType=INTEGER},
      </if>
      <if test="recommendLevel != null">
        recommend_level = #{recommendLevel,jdbcType=INTEGER},
      </if>
    </set>
    where uuid = #{uuid,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="TAudioRecommendInfo">
    update t_audio_recommend_info
    set recommend_name = #{recommendName,jdbcType=VARCHAR},
      recommend_code = #{recommendCode,jdbcType=VARCHAR},
      recommend_no = #{recommendNo,jdbcType=INTEGER},
      recommend_level = #{recommendLevel,jdbcType=INTEGER}
    where uuid = #{uuid,jdbcType=BIGINT}
  </update>
</mapper>